html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  margin: 0;
  padding: 0; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.navigator .nav {
  background-color: #fff;
  border-bottom: none; }

.row {
  background-color: yellow; }

body {
  max-width: 320px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box; }

.notification {
  padding: 10px 10px;
  background-color: #fff;
  color: #000; }
  .notification span.wifi {
    margin-right: 3px;
    width: 20px;
    height: 15px;
    display: inline-block;
    background: url(../img/wifi-symbol.svg) 0px 0px no-repeat;
    cursor: pointer; }
  .notification span.tools {
    width: 20px;
    height: 20px;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
    background: url(../img/settings-work-tool.svg) 0px 0px no-repeat;
    float: right;
    cursor: pointer; }

.settings {
  background-color: #fff;
  color: #000;
  display: none;
  padding: 10px; }
  .settings input[type="range"] {
    width: 97%;
    margin: 10px 0; }
  .settings input[type="checkbox"] {
    margin: 10px 0 10px 15px; }

.content {
  margin: 0 9px 40px 9px; }

.navigator {
  list-style: none;
  padding: 0;
  border: 1px solid #ccc;
  border-bottom: none; }
  .navigator li {
    box-sizing: border-box;
    float: left;
    padding: 13px 0 10px 0;
    width: 100px;
    display: block;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #ebebeb;
    cursor: pointer; }
    .navigator li:last-child {
      border-right: none;
      float: right; }
    .navigator li span {
      width: 31px;
      height: 35px;
      display: inline-block; }
      .navigator li span.one {
        background: url(../img/one-page-3.svg) 0px 0px no-repeat; }
      .navigator li span.two {
        background: url(../img/two-page-3.svg) 0px 0px no-repeat; }
      .navigator li span.tree {
        background: url(../img/tree-page-3.svg) 0px 0px no-repeat; }

.page {
  display: none; }

.main {
  border: 1px solid #ccc;
  border-top: none;
  padding-top: 10px;
  margin-bottom: 30px; }

.display {
  margin-bottom: 10px;
  list-style: none;
  padding: 0; }
  .display li {
    box-sizing: border-box;
    float: left;
    padding: 5px 0;
    width: 100px;
    text-align: center;
    border-right: 1px solid #ccc; }
    .display li:last-child {
      border-right: none; }
    .display li span.shop {
      padding-left: 21px;
      margin-left: 26px;
      width: 19px;
      height: 18px;
      display: block;
      background: url(../img/shopping-cart.svg) no-repeat; }
    .display li span.money {
      padding-left: 23px;
      margin-left: 18px;
      width: 18px;
      height: 18px;
      display: block;
      background: url(../img/money.svg) no-repeat; }
    .display li span.file {
      cursor: pointer;
      margin: 0 auto;
      width: 20px;
      height: 20px;
      display: block;
      background: url(../img/edit-document.svg) 0 0 no-repeat; }

.main textarea {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 250px;
  border: none;
  border-top: 1px solid #ccc;
  padding: 10px; }

table {
  width: 100%; }
  table tr {
    border-top: 1px solid #ccc;
    cursor: pointer; }
  table td {
    padding: 10px; }
    table td:first-child {
      width: 80%; }
    table td:last-child {
      width: 20%;
      text-align: right; }

.footer .note {
  cursor: pointer; }
  .footer .note p {
    margin-bottom: 15px; }
.footer textarea {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 250px;
  border: 1px solid #ccc;
  padding: 10px; }

/*# sourceMappingURL=main.css.map */