html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  margin: 0;
  padding: 0; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.bars {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  color: green; }

.navigator .nav {
  background-color: #fff;
  border-bottom: none;
  color: green; }

.file {
  color: green; }

.row {
  background-color: yellow; }

body {
  max-width: 320px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box; }

.notification {
  background-color: #fff;
  color: #000; }
  .notification .fa {
    cursor: pointer;
    font-size: 25px;
    padding: 5px 10px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s; }
    .notification .fa:last-child {
      float: right; }

.settings {
  background-color: #fff;
  color: #000;
  display: none;
  padding: 10px; }
  .settings input[type="range"] {
    width: 97%;
    margin: 10px 0; }
  .settings input[type="checkbox"] {
    margin: 10px 0 10px 15px; }

.content {
  border: 1px solid #ccc;
  margin: 0 9px; }

.navigator {
  list-style: none;
  padding: 0; }
  .navigator li {
    box-sizing: border-box;
    float: left;
    padding: 12px 0;
    width: 100px;
    display: block;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #ebebeb;
    cursor: pointer; }
    .navigator li:last-child {
      float: right;
      border-right: none; }
    .navigator li .fa {
      font-size: 30px; }

.page {
  display: none;
  margin-top: 10px; }

.display {
  margin-bottom: 10px;
  list-style: none;
  padding: 0; }
  .display li {
    box-sizing: border-box;
    float: left;
    padding: 5px 0;
    width: 100px;
    text-align: center;
    border-right: 1px solid #ccc; }
    .display li:last-child {
      border-right: none;
      cursor: pointer; }
    .display li .fa-file-text {
      font-size: 23px; }

textarea {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 250px;
  border: none;
  border-top: 1px solid #ccc;
  padding: 10px; }

table {
  width: 100%; }
  table tr {
    border-top: 1px solid #ccc;
    cursor: pointer; }
  table td {
    padding: 10px; }
    table td:first-child {
      width: 80%; }
    table td:last-child {
      width: 20%;
      text-align: right; }

/*# sourceMappingURL=main.css.map */